.profile {
	border: 1px solid black;
	margin: 10px;
	padding: 10px;
	width: 35vh;
	font-size: 20px;
	background-color: #F7C331;
	opacity: .5;
}

.profileText {
	font-size: 20px;
	margin: 10px 10px 10px 0px;
}

p {
	padding: 0px;
	margin: 10px 10px 10px 0px;
}