body {
    font-size: 18px;
    height: 100vh;
}

.dog-background {
    background-image: url("dog1.png");
    background-size: cover;
}

.logout-btn {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    right: 20px;
    top: 10px;
}

.logged-in-as {
	margin-right: 10px;
}

.bg-color {
    background-color: rgba(	220,199,170,1);
}

.title {
    color: #6B7A8F;
    font-weight: 700;
    font-size: 2.5rem;
}

.title-main {
    font-weight: 700;
    font-size: 3rem;
    font-family: 'Permanent Marker', cursive;
}

.margin-bot-50 {
    padding-bottom: 50px;
}

.find-but {
    margin: 0px auto 20px;
    width: 125px;
    border-radius: 20px;
}

.img-but {
    margin: 10px auto 10px;
    width: 125px;
    border-radius: 20px;
}

.search-but {
    width: 100px;
}

.log-but {
    width: 80px;
}

.background-color {
    height: 100vh;
    width: 100vw;
    background-color: rgba( 220,199,170,1);
}

button:focus { 
    outline: 0 !important; 
}