body {
    background-image: url("dog1.png");
    background-size: cover;
    font-size: 18px;
}

<<<<<<< HEAD
}

=======
>>>>>>> b56c39eec29a535eb622f50d20d140457e4b8b4d
.logout-btn {
    position: absolute;
    right: 20px;
    top: 10px;
}

.logged-in-as {
	margin-right: 10px;
}
