.info {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
 	border: 2px solid black;
	margin: 10px 20px 20px 20px;
	background-color: rgba(107,122,143,.5);
	border-radius: 50px;
}

.user-info {
	margin-top: 100px;
	margin-bottom: 100px;
}

.font-sml {
    font-size: .5rem;
}

.prof-img {
	margin: 10px 20px 0px 20px;
	vertical-align: middle;
	border-radius: 300px;
	width: 200px;
	height: 200px;
	border: 2px solid black;
}

b {
	font-size: .8rem;
}

.flex-space {
	justify-content: space-around;
}

.try {
	display: flex;
	flex-wrap: wrap;
	height: 200px;
}

body {
	background-color: #6B7A8F;
    font-family: 'Montserrat', sans-serif;
}

.margin-reg {
	margin: auto;
}

