.flex-end {
    display: flex;
    justify-content: flex-end;

}

.sub-button {
    background-color: #F7C331;
    border-radius: 5px;
    margin-bottom: 15px;
    width: 500px;
    padding-top: 0;

}

.flex-container {
    display: flex;
}

.flex-space {
    justify-content: space-around;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.form {
    font-family: 'Montserrat', sans-serif;;
    width: 300px;
    height: 500px;
    /*background-color: #F7C331;*/
    margin-left: 740px;
    /*margin-top: 15px;*/
    border-radius: 20px;
    text-align: center;
    box-shadow: 5px 10px 20px #DCC7AA;
    background-color: rgba(247,	195, 49, .7);
    /*background-color: #F7C331;*/

}

.auto {
    margin: auto;
}

.button {
    width: 200px;
    padding-bottom: 10px;
    margin: auto;
    border-radius: 20px;
}

.input-size {
    width: 150px;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.pad-top-20 {
    padding-top: 20px;
}

button {
    border-radius: 20px;
}
