.header {
    font-family: 'Montserrat', sans-serif;;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    background-color: #DCC7AA;
    z-index: 1;
    height: 100px;
    opacity: .8;
    background-color: transparent;
}

