.wrapper {
  padding-top: 50px;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}

.slidecontainer {
    width: 100%;
}

.range-box {
	margin-left: 10px;
	margin-right: 10px;
}

.match-range {
	text-align: center;
}