.btn {
    padding: 5px 15px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
}

.group {
    padding: 15px;
}

.btn-primary {
    color: white;
    background-color: #6B7A8F;
}

.text-sml {
    font-size: .8rem;
}

.btn-primary:hover {
    background-color: darkblue;
}

.modal-header {
    color: #F7C331;
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    text-shadow: 2px 2px #a17908;
    border-bottom: none;
    text-transform: uppercase;

}

.modal-cover {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.6);
    z-index: 1040;
    display: none;
}

.modal-cover.modal-cover-active {
    display: block;
}

.modal-container {
    z-index: 1050;
    position: fixed;
    /*border: 1px solid lightgray;*/
    border-radius: 6px;
    background: #6B7A8F;
    opacity: .97;
    width: 1200px;
    min-height: 300px;
    left: 50%;
    top: 20%;
    margin-left: -600px;
    display: none;
    box-shadow: 5px 10px 20px #DCC7AA;


}


.modal-container.modal-container-active {
    display: block;
}


.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
}


.modal-footer {
    padding: .5rem;
    border-top: none;
}